$darkGrey : #505050;
$veryDarkGrey: #121212;
$orange: #FF9100;
$lightGrey: #DBDBDB;
$veryLightGrey: #f0f0f0;
$blueGradient: linear-gradient(90deg, #2EC3CC 20.71%, #036AD3 97%);
$blue: #004c9e;
$lightBlue: #2EC3CC;