@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,900;1,400&display=swap');

body {
  margin: 0;
  color: vars.$darkGrey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  // width:100%;
  padding:1rem 2rem;

}

h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

h3{
  font-family: 'Rubik', sans-serif;
  margin: 0 0.7rem;
}
