@use "reset";
@use "vars";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,900;1,400&display=swap");

body {
  margin: 0;
  color: vars.$darkGrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  // width:100%;
  padding: 1rem;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

h3 {
  font-family: "Rubik", sans-serif;
  margin: 0 0.7rem;
}
h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: vars.$blueGradient;
  border-radius: 10px;
}

.scrollUp {
  cursor: pointer;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
  width: 50px;
  border: 1px solid vars.$lightGrey;
  background-color: white;
  padding: 0.7rem;
  border-radius: 50px;
  box-shadow: 2px 4px 4px -3px rgba(0, 0, 0, 0.3);
  transform: translateY(0px);
  transition: 0.3s transform ease-in-out;
}

.scrollUp:hover {
  transform: translateY(-6px);
  transition: 0.3s transform ease-in-out;
}
