@use 'src/styles/vars';

.home {
  padding: 1.5rem;
  margin-top: 5rem;
  &__btnContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__pageButton{
      margin: 0.5rem;
      color: white;
      border-radius: 5px;
      border: none;
      padding:0.3rem 1.5rem;
      background: vars.$blueGradient;
    }
    &__showRows{
      font-family: 'Rubik', sans-serif;
      color: vars.$lightGrey;
      margin-right:1rem;
    }
  }
}


.mainTitle {
  margin-top:1rem;
  &__hero {
    margin-bottom: 0.5rem;
  }
  &__baseline {
    font-weight: 400;
    font-size:1rem;
    font-family: 'Rubik', sans-serif;
    // margin-bottom: 0.5rem;
  }
}

.level {
  position: relative;
  background: linear-gradient(90deg, #2EC3CC 20.71%, #036AD3 97%);
  display: inline-flex;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem 0rem;
  &__userIcon {
    margin-right:1rem;
  }
  &__levelBtn {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border:1px solid white;
    color: white;
    padding: 0.5rem;
    margin-right:1rem;
    border-radius: 5px;
    box-shadow: 2px 4px 4px -3px rgba(0,0,0,0.3);
    transform: translateY(0px);
    transition: 0.3s transform ease-in-out;
    &--active {
      background-color: white;
      color: #004c9e;
      font-weight: 400;
      box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.3);
    }
  }
  &__levelBtn:hover {
    cursor: pointer;
    box-shadow: 2px 4px 4px -3px rgba(0,0,0,0.3);
    transform: translateY(-4px);
    transition: 0.3s transform ease-in-out;
  }
  &__userIcon {
    width:2.5rem;
  }
  &__expertise{
    color: white;
    position: absolute;
    top: 0.5rem;
    left: 5.5rem;
  } 
}

.scrollUp{
  cursor: pointer;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
  width:60px;
  border: 1px solid vars.$lightGrey;
  background-color: white;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 2px 4px 4px -3px rgba(0,0,0,0.3);
  transform: translateY(0px);
  transition: 0.3s transform ease-in-out;
}

.scrollUp:hover{
  transform: translateY(-6px);
  transition: 0.3s transform ease-in-out;
  
}

@media screen and (max-width:640px) {
.home{
  margin: 0 auto;
  margin-top:8rem;
  padding:0rem;
}
.level{
  width: 100%;
  padding: 2rem 1rem;
  &__levelBtn{
    margin-right:0.5rem;
  }
  &__userIcon{
    margin-right:0.5rem;
  }
  &__expertise{
    left: 4rem;
  }
}

.mainTitle {
  margin-top:1rem;
  &__hero {
    font-size:1.6rem;
    margin-bottom: 0.5rem;
  }
  &__baseline {
    font-weight: 400;
    font-size:1rem;
    font-family: 'Rubik', sans-serif;
    // margin-bottom: 0.5rem;
  }
}
}
