@use 'src/styles/vars';

.home {
  padding: 1.5rem;
  &__btnContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__pageButton{
      margin: 0.5rem;
      color: white;
      border-radius: 5px;
      border: none;
      padding:0.3rem 1.5rem;
      background: vars.$blueGradient;
    }
  }
}


.title {
  &__hero {
    margin-bottom: 0.5rem;
  }
  &__baseline {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
}

.level {
  position: relative;
  background: linear-gradient(90deg, #2EC3CC 20.71%, #036AD3 97%);
  display: inline-flex;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem 0rem;
  &__userIcon {
    margin-right:1rem;
  }
  &__levelBtn {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border:1px solid white;
    color: white;
    padding: 0.5rem;
    margin-right:1rem;
    border-radius: 5px;
    &--active {
      background-color: white;
      color: #004c9e;
      font-weight: 400;
    }
  }
  &__levelBtn:hover {
    background-color: white;
    color: #004c9e;
    cursor: pointer;
  }
  &__userIcon {
    width:2.5rem;
  }
  &__expertise{
    color: white;
    position: absolute;
    top: 0.5rem;
    left: 5.5rem;
  } 
}

