@use "src/styles/vars";

.currenciesTableContainer {
  overflow-x: scroll;
  white-space: nowrap;
}

.currenciesTable {
  font-size: 0.9rem;
  width: 100%;
  margin: 0 auto;
  &__symbol {
    margin-left: 0.5rem;
    color: vars.$darkGrey;
    font-weight: 300;
  }
  &__name {
    font-family: "Rubik", sans-serif;
    font-weight: 00;
    color: black;
  }
  &__img {
    text-align: center;
  }
  &__star {
    width: 15px;
    // margin-left: 0.5rem;
  }
  &__index {
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  &__tr:hover {
    background-color: vars.$veryLightGrey;
  }
  &__percent,
  &__price,
  &__volume24,
  &__circulatingSupply,
  &__MktCap,
  &__maxSupply {
    padding-right: 1rem;
  }
}

.col15 {
  min-width: 15px;
  max-width: 15px;
}
.col25 {
  min-width: 25px;
  max-width: 25px;
}
.col50 {
  min-width: 50px;
  max-width: 50px;
}
.col250 {
  min-width: 250px;
  max-width: 250px;
}
.col300 {
  min-width: 300px;
  max-width: 300px;
}
.col200 {
  min-width: 200px;
  max-width: 200px;
}
.col150 {
  min-width: 150px;
  max-width: 150px;
}
.col125 {
  min-width: 120px;
  max-width: 120px;
}
.col100 {
  min-width: 100px;
  max-width: 100px;
}
.col85 {
  min-width: 85px;
  max-width: 85px;
}

tr {
  border-bottom: 0.5px solid vars.$lightGrey;
}
thead > tr {
  border-top: 1px solid vars.$lightGrey;
  border-bottom: 1px solid vars.$darkGrey;
}

td,
th {
  padding: 1.5rem 0rem;
}

.theader {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  cursor: pointer;
  &__text {
    display: inline-block;
    padding-right: 1rem;
  }
  &__text:hover {
    color: vars.$lightBlue;
  }
  &__index {
    text-align: left;
    padding: 0rem 0.5rem;
  }
}

.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}

.negative,
.positive {
  font-weight: 500;
}
.negative {
  color: #e23131;
}

.positive {
  color: #05b94d;
}

.displayNone {
  display: none;
}

.isNovice {
  width: 75%;
}

@media screen and (max-width: 1300px) {
  .currenciesTable {
    font-size: 0.8rem;
  }
}
