@use 'src/styles/vars';

.currenciesTableContainer{
  overflow-x: scroll;
  white-space: nowrap;
  
}

.currenciesTable {
  width:100%;
  margin: 0 auto;
  &__symbol {
    margin-left:0.5rem;
    color: vars.$darkGrey;
    font-weight: 300;
  }
  &__name{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: black;
  }
  &__star{
    width: 20px;
    margin-left: 0.5rem;
  }
  &__index{
    text-align: center;
  }
  // overflow-x: scroll;
  // white-space: nowrap;
}

.col {
  min-Width: auto;
  max-width: auto; 
}

.col50 {
  width: 50px;
}
.col250 {
  width: 250px;
}
.col200 {
  width: 200px;
}
.col85 {
  width: 120px;
}

tr{
  border-bottom: 0.5px solid vars.$lightGrey;
}

td, th{
  padding: 1.5rem 0rem;
}

.theader {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}

.negative, .positive {
  font-weight: 500;
}
.negative {
  color: #E23131;
}

.positive {
  color: #05B94D;
}

.displayNone {
  display: none;
}