@use 'src/styles/vars';

.header{
  z-index:5;
  position: fixed;
  top:0px;
  background-color: white;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom:1px solid vars.$lightGrey;
  &__navbar{
    display: flex;
    align-items: center;
    &__logo{
      margin-right:4rem;
      display: flex;
      align-items: center;
      &__img{
        margin-bottom:0.6rem;
        width:50px;
        margin-right:0.5rem;
      }
      &__text{
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        font-size:1.2rem;
      }
      &__text > span{
        color: vars.$orange;
        font-weight: 400;
      }
    }
    &__buttons{
      display: flex;
    }
  }
  &__userSpecs{
    display: flex;
    align-items: center;
    &__language{
      margin-right:0.5rem;
    }
    &__subscribe{
      background: vars.$blueGradient;
      padding:0.7rem 1.4rem;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
    &__subscribe:hover{
      background: none;
      background-color: vars.$blue;
    }
  }
}
.header__userSpecs .dropdown {
  margin:0 0.5rem;
}

@media screen and (max-width :1000px) {
  .header{
    padding: 1rem 0rem;
    flex-wrap: wrap;
    &__navbar{
      &__buttons{
        display: none;
      }
    }
    &__userSpecs{
      display: none;
    }
  }
}